# Dependencies
node_modules/

# Build output
dist/
build/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
.idea/
*.swp
*.swo

# Vite
*.local

# Test / coverage
coverage/
.nyc_output/

# Optional
*.tgz

# Hardhat
cache/
artifacts/
typechain-types/
coverage.json
